#home-page {
    /* border: 1px solid black; */
    width: 1150px;
    margin-left: 385px;
    padding-top: 25px;
    padding-bottom: 100px;
    opacity: 0.85;
    box-shadow: 0 0 5px 10px #ffff;
}

h1 {
    text-align: center;
}