* {
  background-color: white;
}

#app {
  border: 1px solid black;
  background-image: url(/src/media/pretty-maps.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#pretty-maps {
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}